<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <a href="/" class="btn btn-primary">Back</a>
            <div class="card">
                <div class="row">
                    <div class="col-md-5">
                        <img class="sigeldata-img" src="assets/upload/<%= singel.photo %> " alt="">
                    </div>
                    <div class="col-md-7">
                        <p>Name : <%= singel.name %> </p>
                        <p>Email : <%= singel.email %> </p>
                        <p>Cell : <%= singel.cell %> </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>